body {
	font-family: 'Lato';
	color: #424551;
	line-height: 26px;
}

.header {
   font-size: 25px;
	font-weight: 900px;
	color: #9C4A1A;
	max-width: 800px;
	background-color: #F7C815;
	height: 100px;
	border: 5px dotted #000000;
	border-radius: 10%;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.wrap {
	padding-left: 40px;
	width: 810px;
}

.title {
	font-weight: 900;
	font-size: 46px;
	line-height: 60px;
	color: #1E212C;
	margin-bottom: 92px;
}

.img {
	max-width: 100%;
	border-radius: 4px;
	margin-bottom: 60px;
}

.text1 {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	width: 810px;
	color: #1E212C;
	margin-bottom: 24px;
}

.text2 {
	margin-bottom: 24px;
}

.text3 {
	margin-bottom: 48px;
}

.text-bold {
	width: 752px;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #1E212C;
	padding-left: 58px;
	margin-bottom: 48px;
}

.text4 {
	margin-bottom: 24px;
}

.item {
	margin-bottom: 4px;
	padding-left: 32px;
}

.text5 {
	margin-top: 24px;
}

.text6 {
	font-family: 'Lato';
	font-size: 30px;
	margin: 60px 0 50px 30px;
	padding: 15px;
 	background-color: #940c69;
	width: 200px;
	height: 200px;
	overflow: hidden;
	box-shadow:inset 5px 5px 10px 5px hwb(230 21% 72%);
	border-radius: 67% 33% 65% 35% / 68% 32% 68% 32%;
}

.text7 {
	margin: 60px 0 50px 30px;
	padding: 15px;
	background-color: #9C4A1A;
	width: 400px;
	font-size: 40px;
	font-weight: 700px;
	box-shadow: 20px 20px 20px 20px #1E212C;
	overflow: scroll;
	height: 200px;
}

.text8 {
	font-weight: 700px;
	font-size: 30px;
	margin: 60px 0 50px 30px;
	padding: 15px;
	width: 900px;
	background-color: #6D8C00;
	border-top: 10px solid red;
	border-right: 10px dotted blue;
	border-bottom: 10px double rgb(50, 60, 50);
	border-left: 10px dashed yellow;
}

.text9 {
	margin: 60px 0 50px 30px;
	padding: 15px;
	background-color: #94fcfc;
	width: 400px;
	font-size: 40px;
	font-weight: 700px;
	overflow: auto;
	height: 200px;
}

.text10 {
	background-color: #ffff4d;
	width: 200px;
	display: inline-block;
}

.footer {
	font-size: 40px;
	width: 400px;
	margin: 60px 0 50px 30px;
}